<br />

<mat-card>
  <mat-card-title>
    Place Shipping Order
  </mat-card-title>
  <mat-card-subtitle>
    Place your shipping order here
  </mat-card-subtitle>
  <mat-card-content>
    <mat-grid-list cols="2" rowHeight="60px">
      <mat-grid-tile>
        <mat-form-field>
          <input [(ngModel)]="order.account.accountNumber" matInput placeholder="Account - Number">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <input [(ngModel)]="order.account.emailAddress" matInput placeholder="Account - Email Address">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <input [(ngModel)]="order.account.name" matInput placeholder="Account - Name">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>

      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <input [(ngModel)]="order.collectionTimestamp" matInput [matDatepicker]="collectionPicker" placeholder="Collection">
          <mat-datepicker-toggle matSuffix [for]="collectionPicker"></mat-datepicker-toggle>
          <mat-datepicker #collectionPicker></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <input [(ngModel)]="order.deliveryTimestamp" matInput [matDatepicker]="deliveryPicker" placeholder="Delivery">
          <mat-datepicker-toggle matSuffix [for]="deliveryPicker"></mat-datepicker-toggle>
          <mat-datepicker #deliveryPicker></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-select [(ngModel)]="order.source" placeholder="Source">
            <mat-option *ngFor="let location of locations" [value]="location">
              {{ location.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <mat-select [(ngModel)]="order.destination" placeholder="Destination">
            <mat-option *ngFor="let location of locations" [value]="location">
              {{ location.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <input [(ngModel)]="order.dimensions.height" matInput placeholder="Dimensions - Height">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <input [(ngModel)]="order.dimensions.length" matInput placeholder="Dimensions - Length">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <input [(ngModel)]="order.dimensions.width" matInput placeholder="Dimensions - Width">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <input [(ngModel)]="order.weight" matInput placeholder="Weight">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
      </mat-grid-tile>
      <mat-grid-tile>
        <button (click)="onClickPlace()" mat-raised-button color="primary">PLACE ORDER</button>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
<br />
<mat-card>
  <mat-card-title>
    Shipping Orders
  </mat-card-title>
  <mat-card-subtitle>
    View your shipping orders here
  </mat-card-subtitle>
  <mat-card-content>
    <table mat-table [dataSource]="orders" class="mat-elevation-z8">

      <ng-container matColumnDef="collectionTimestamp">
        <th mat-header-cell *matHeaderCellDef> Collection Timestamp </th>
        <td mat-cell *matCellDef="let element"> {{ element.collectionTimestamp }} </td>
      </ng-container>

      <ng-container matColumnDef="deliveryTimestamp">
        <th mat-header-cell *matHeaderCellDef> Delivery Timestamp </th>
        <td mat-cell *matCellDef="let element"> {{ element.deliveryTimestamp }} </td>
      </ng-container>

      <ng-container matColumnDef="source.name">
        <th mat-header-cell *matHeaderCellDef> Source </th>
        <td mat-cell *matCellDef="let element"> {{ element.source?.name }} </td>
      </ng-container>

      <ng-container matColumnDef="destination.name">
        <th mat-header-cell *matHeaderCellDef> Destination </th>
        <td mat-cell *matCellDef="let element"> {{ element.destination?.name }} </td>
      </ng-container>

      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef> State </th>
        <td mat-cell *matCellDef="let element">
          <mat-chip-list>
            <mat-chip *ngIf="element.approved" color="primary">Approved</mat-chip>
            <mat-chip *ngIf="element.cancelled" color="accent">Cancelled</mat-chip>
            <mat-chip *ngIf="element.confirmed" color="primary">Confirmed</mat-chip>
            <mat-chip *ngIf="element.declined" color="accent">Declined</mat-chip>
          </mat-chip-list>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>